In [122]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from tqdm import tqdm
from torch.utils.data import Dataset, DataLoader
import matplotlib.pyplot as plt
import nltk
from nltk.stem import WordNetLemmatizer

In [104]:
df_raw = pd.read_csv('new_data.csv')
df_raw = df_raw.head(10000)
df_raw

                                             clean_text  category
0     when modi promised “minimum government maximum...        -1
1     what did just say vote for modi  welcome bjp t...         1
2     asking his supporters prefix chowkidar their n...         1
3     answer who among these the most powerful world...         1
4     with upcoming election india saga going import...         1
...                                                 ...       ...
9995  nirav modi has been siphoning these monies sin...         1
9996  doubt this guy have the plan scrap modi’ ayush...        -1
9997  siddhu this the naya pakistan your beloved fri...         1
9998  the good news people didnt forced see the pict...         1
9999  why does india need luxury cost bring guest ho...        -1

[10000 rows x 2 columns]

In [105]:
device = 'cpu'

In [118]:
y = pd.get_dummies(df_raw['category'])
y

      -1   1
0      1   0
1      0   1
2      0   1
3      0   1
4      0   1
...   ..  ..
9995   0   1
9996   1   0
9997   0   1
9998   0   1
9999   1   0

[10000 rows x 2 columns]

In [119]:
y = torch.Tensor(y.values).to(device)
y

tensor([[1., 0.],
        [0., 1.],
        [0., 1.],
        ...,
        [0., 1.],
        [0., 1.],
        [1., 0.]])